


.content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;

}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
#hero-img{
    width: 100%;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #572310;
}
body{
    background-color: #408079 ;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #30BFA3;
}
nav a:hover{
    background-color: #572310;
    color: #408079;
}
.book, .join{
    background-color: #408079;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #572310;
    color: #408079;
}
.msg{
    background-color: #572310 ;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #30BFA3;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img{
    padding-top: 15px;
}
.home-title{
    color: white;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin: 0;    
}
h4{
    color: white;
}
.msg h2{
    color: white;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
}
.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #408079;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}
#logo_link{
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}