


.content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
#hero-img{
    width: 100%;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #572310;
}
body{
    background-color: #408079 ;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #30BFA3;
}
nav a:hover{
    background-color: #572310;
    color: #408079;
}
.book, .join{
    background-color: #408079;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.book:hover, .join:hover{
    background-color: #572310;
    color: #408079;
}
.msg{
    background-color: #572310 ;
    line-height: 1.5em;
}
footer{
    background-color: #30BFA3;
    color: white;
}
.home-title{
    color: white;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
h2{
    margin: 0;    
}
h4{
    color: white;
}
.msg h2{
    color: white;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
}
.msg p{
    color: white;
    font-size: .8em;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #408079;
}
.icon{
    width: 80px;
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}