body{
    background-color: #5ca0d7;
    text-align: center;
}

.education{
    color:white;
}

main{
    display: block;
    margin: 0 auto;
}
.points{
    text-align: left;
    margin: 0 35%;
}

img{
    width: 15%;
    display: block;
    margin: 0 auto;
}

